body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100%;
}

.output{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.output p{
    z-index: 3;
}

.others{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.others br{
    display: none;
}

.others img{
    width: 25px;
    height: auto;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
.content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

#rn{
    background-image: url("../images/sky.png");
    width: 100%;
    height: 82vh;
}

.parallax {
    background-attachment: fixed; /* Gjør sånn at bildet ikke scroller */
    background-position: center; /* Sentrerer bildet */
    background-repeat: no-repeat; /* Gjør sånn at bildet bare viser en gang */
    background-size: cover; /* Gjør sånn at bildet dekker bakgrunn */
    top:0; /* Setter bildet på toppen */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.parallax p{
    z-index: 3;
}

.first{
    top:0;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 30vh;
}

.imagine{
    max-width: 100%;
    top:0;
    position: absolute;
}

#fjell{
    z-index: 3;
    bottom: 0vh;
}

.slay{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.beach{
    top: 15vh;
    position: absolute;
}

.kultsymbol{
    width: 30vh;
    height: auto;
    position: absolute;
    bottom: -20vh;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s;
}

@layer demo {
    #pie {
      --thickness: 3px;
      --_inner: calc(70% - var(--thickness));
      --_outer: calc(var(--_inner) + 1px); /* fixes aliasing */
      
      /* hides the inner part of the conic gradient */
      mask: radial-gradient(circle, #0000 var(--_inner), #000 var(--_outer));
      
      /* the conic gradient, transparent after --ng */
      background-image: conic-gradient(deeppink, cyan var(--ng), #0000 0);
    }
  }
  
  @layer demo.support {
    #pie {
      aspect-ratio: 1;
      inline-size: 50vmin;
      border-radius: 50%;
    }
    
    .chart {
      display: grid;
      place-items: center;
    }
    
    .chart > * {
      grid-area: 1/1;
    }
    
    .chart > h3 {
      font-variant-numeric: tabular-nums;
    }
    
    * {
      box-sizing: border-box;
      margin: 0;
    }
  
    html {
      block-size: 100%;
      color-scheme: dark light;
    }
  
    body {
      min-block-size: 100%;
      font-family: system-ui, sans-serif;
  
      display: grid;
      place-content: center;
      gap: 5vmin;
    }
  }

@-webkit-keyframes slide {
    100% { bottom: 40vh; }
}

@keyframes slide {
    100% { bottom: 40vh; }
}