.footer,.top,.main,.navBar,.header{border: 2px solid black;}

.top{
    font-size:50px;
    padding: 0;
    margin: 0;
}

.image{
    max-width: 500px;
    width: 100%;
}

.copyright{
    padding: 20px;
    text-align: center;
    padding-bottom: 0;
}

.articles{
    display: flex;
}

.article{
    margin:10px;
}

.header{
    font-size: 50px;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: space-between;
}

.smallhead{
    font-size: 30px;
    padding-bottom: 20px;
    margin:10px;
}

.TextsFooter{
    display: flex;
    justify-content: space-between;
    margin:10px;
}

.logginn{

    vertical-align: middle;
}

.logintext{
    height: 25px;
}

.loginbutton{
    margin-right: 10px;
    height: 35px;
}

.loginbutton,.logintext{
    margin-top:50px;
}


h1{
    margin:0;
    padding:10px;
}